* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.iconF {
  font-size: 20px;

}
.folderName {
  margin-bottom: 0;
  margin-left:5px ;
}
.virtualFolders {
  height: 550px;
}
.carpetaInfo {
  display: flex;
  text-decoration: none;
  color: rgb(136, 136, 136);
  width: 100%;
  margin: 5px;
}
.carpetaInfo:hover {
  color: rgb(98, 98, 98);
}
.iconDelete,.iconArchiv {
  width: 20%;
  opacity: 0;
  height: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}
.iconDelete:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
  background-color: rgb(226, 75, 75);

  transition: 0.7s;
}
.iconArchiv:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
  background-color: rgb(32, 204, 55);
  border-radius:0 3px 3px 0 ;
  transition: 0.7s;
}
/*FORMULARIO DE BUSQUEDA*/
.inputCreate {
  padding-inline: 10px;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid rgb(170, 170, 170);
}

.inputCreate:focus {
  outline: none !important;
  border: 1px solid #9acef8;
  transition: 0.3s;
}

/*Carpetas*/

.folders {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 20px;
}
.folder:hover {
  cursor: pointer;
}

.folder {
  color: rgb(138, 138, 138);
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
  display: flex;
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin: 10px 0;
}
/*CREAR CARPETAS*/

.formNewF {
  position: relative;
  margin-top: 15%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 30px;
  height: 200px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(136, 136, 136, 0.514);
}
.inputCreate {
  width: auto;
}
