* {
  padding: 0;
  margin: 0;
}
.logoSalir{
  font-size:30px;
  margin-top:15px;
  margin-inline-end: 10px;
}
a:hover{
  color:white;
}
.main-menu {
  display: inline-flex;
  background: #252c47; /* fallback for old browsers */
  width: 100%;
  justify-content: space-between;
  color: white;
  box-shadow: 0 0 4px #252c47;
}
.linkLogin,
.titulos {
  padding: 10px 5px;
  text-decoration: none;
  color: #ffffff;
}

/* HEADER MENU STYLE */
.header-menu {
  background: #f0f0f0;
  width: 15%;
  font-size: 13px;
  height: 600px;
  box-shadow: 0 0 4px rgb(173, 173, 173);
}

.header-menu ul {
  list-style: none;
  padding: 0;
}
.header-menu li a {
  font-size: 15px;
  text-decoration: none;
  color: #000;
  padding: 3rem 0.5em;
  display: block;
  border-bottom: 1px solid rgb(202, 202, 202);
}

/* *ARREGLAR TRANSITION */
.header-menu li a:hover {
  background-color: #cecece;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

/* iframe */
.bodyIndex {
  display: flex;
}
.derecha {
  width: 88%;
}
