* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerForm{
    background-color: rgb(61, 61, 61);
    padding: 226px 0;
}
.form-login {
  width: 400px;
  height: 270px;
  background-color: #4e4d4d;
  box-shadow: 0 0 12px rgb(41, 41, 41);
  padding: 20px 0;
  border-radius: 5px;
  text-align: center;
  color: rgb(216, 216, 216);
  margin: auto;
}
.form-login h2 {
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 23px;
}

.control {
  color: white;
  width: 80%;
  margin: 15px auto;
  padding: 10px 10px;
  background: #252323;
  font-size: 14px;
  border: none ;
}
#btn {
  width: 80%;
}
