/*lista usuarios*/
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
.contentTitle {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
  padding-inline: 65px;
  height: 50px;
}
.btnCreateUser{
	height: 40px;
}
table {
  border-collapse: collapse;
  font-size: 11pt;
  font-family: "arial";
  width: 90%;
  margin: 15px auto;
}
table th {
  text-align: left;
  padding: 10px;
  background: #252c47;
  color: #ffff;
  border: 1px solid #ffffff;
  text-align: center;
}
table tr:nth-child(odd) {
  background: #00000000;
}
table td {
  padding: 12px;
  border: 1px solid #787b86;
}

/*Actualizar*/
label {
  display: block;
  font-size: 13pt;
  font-family: "Rubik", sans-serif;
  margin: 7px 0px;
}
input {
  color: #252c47;
  display: block;
  width: 90%;
  font-size: 12pt;
  padding: 7px 10px;
  border: 1px solid #c4c9ce;
  border-radius: 5px;
  margin: 0 auto;
}
input:focus {
  outline: none;
}
